*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.store{
    margin: auto;
    width: 60%;
    min-height: 100%;
    /* background-color: aqua; */
}

h1{
    font-size: 60px;
    text-align: center;
    padding: 30px;
    color: rgb(216, 48, 48);
}

.shoes{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card{
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 30%;
    /* min-height: 450px; */
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(201,201,201); 
    margin-bottom: 40px;
}

/* .card div:nth-child(1) > img{
    width: 100%;
}  */

.image{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 30px;
}

.image >img{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image >img:hover{
    scale: 1.2;
    transition: 0.4s all ease-in;
    
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px  ;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart > img{
    width: 45px;
}

.p1{
    font-weight: 700;
}